/* DEFAULTS */

:root {
    --green: #8bc34a;
    --red: #f44336;
    --brown: #5d4037;

    --background: rgba(159,255,255,0.3);
    --background2: rgba(1,169,244,0.4);
    --secondaryLE: #9fffff;
    --secondaryL: #67daff;
    --secondaryM: #01a9f4;
    --secondaryD: #007ac1;

    --primaryL: #9162e4;
    --primaryM: #5e35b1;
    --primaryD: #280680;

    --white: #eceff1;
    --whiteD: #babdbe;
    --darkL: #61656d;
    --darkM: #373b42;
    --darkD: #11151b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a {
    text-align: center;
}

.hidden {
    display: none;
}

/* TWO MAIN PARTS OF VIEW */

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--darkD);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
}

#body {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}

/* LINKS ON NAVIGATION BAR PART */

#nav-links {
    height: 5vh;
    background-color: transparent;
    margin: 8px 16px;
}

.nav-link {
    cursor: pointer;
    display: flex;
    width: 24.99%;
    height: 5vh;
    float: left;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--white);
    background-color: transparent;
}

.nav-link.active {
    background-color: var(--background);
}

.nav-link:hover{
    color: var(--whiteD);
    background-color: var(--background2);
}

/* LINKS ON BOTTOM PART */

#my-links {
    position: static;
    height: 5vh;
    bottom: 0;
    background-color: transparent;
    margin: 8px 16px;
}

.my-link {
    cursor: pointer;
    display: flex;
    height: 5vh;
    float: right;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--white);
    background-color: transparent;
    padding: 10px;
}

.my-link a img{
    width: 5vh;
}

/* SECTIONS PART */

#sections {
    display: block;
    overflow-y: scroll;
    height: 80%;
    background-color: transparent;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}

#sections::-webkit-scrollbar {
    display: none;
}

section {
    display: none;
    color: var(--white);
}

section.active {
    display: block;
}

/* HOME SECTION */

.home {
    position: relative;
    top: 90%;
}

.home div {
    position: absolute;
    bottom: 0;
    width: fit-content;
    padding: 12px;
    background-color: var(--background);
}

.home h1 {
    font-size: 40px;
    color: var(--secondaryM);
    padding-bottom: 20px;
}

.home a {
    font-size: 25px;
}

/* ABOUT ME SECTION */